{% extends "home.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <hr>
    <p>
Elwatini (Pty) Ltd is a Black-owned and controlled South African company.
We have vast experience in railway, civil, electrical and mechanical engineering, and project and construction management.

Our service offerings include:

Railway engineering studies
Railway engineering design
Civil, water and structural design
Heavy and light current electrification
Mechanical design
Construction monitoring and management project management
We are involved in all stages of projects from concept development and project implementation to operations and maintenance.

<hr>
<br><br>


Quality
Our quality management system is based on the principles of PMBOK®. Our quality policy ensures that we commit to meeting and exceeding the best practice standards within the industry. We aim to ensure that all our stakeholder expectations are met at every step of the project life cycle.

We are in the process of acquiring ISO9001 Certification for Consulting Engineers.
<hr>
<br><br>
Risk management
We pride ourselves on our capability to coordinate the company's collective technical, project execution, construction, financial, and relationship-building skills using:

Structured risk and project management tools considering the individual project needs.
Qualitative and quantitative risk management processes supplemented by a broad risk management plan (RMP) to continuously evaluate projects risks from business development to completions and hand-over
Our Vision
To be a leading engineering consulting company providing professional engineering, design, project management, and construction management services to both private and public sector clients within the built environment.
<hr>
<br><br>
Our Mission
To deliver unprecedented business results to our clients through a commitment to quality; higher standards of safety and risk management; and continuous performance improvements in all projects.</p>
{% endblock %}
